/* TODO: Make it prettier!! */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-stats {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 900px;
  padding: 10px;

  font-size: large;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

.game-options {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.board {
  margin: auto;
  padding: 10px;
  width: fit-content;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-cell {
  width: 30px;
  height: 30px;
}

.board-cell img {
  width: 100%;
  height: auto;
}
